<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<link rel="stylesheet" type="text/css" media="screen" href="http://164.177.153.162:4567/css/styles.css">
		<meta charset="UTF-8">
		<title>Nosy - Tagging</title>
	</head>
	<body>
	
	<h1>Worked!</h1>
	
	</body>
</html>